<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Make a great binary tree</title>
    <!-- CDN DE BOOTSTRAP -->
    <!-- <link rel="stylesheet" href="../../assets/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="#">Make a Great BINARY TREE</a>
    </nav>
